@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* :root{
  --font-color: 
} */

*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}
/* body{
  background-color: #fff5f5;
} */
.common-div{
  text-align: center;
}
.common-heading{
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 18px;

}
.common-text{
  font-size: 18px;
  font-weight: 500;
  color: #494949;
}
/* how we works section  */
.work-grid{
  width: 100%;
  height: 200px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
/* commercial and residential section  */
.cr-div{
  background-color: white;
  padding: 28px;
  border-radius: 16px;
}
.cr-text{
  font-size: 16px;
  font-weight: 400;
}
.cr-heading{
  font-size: 20px;
  font-weight: 800;
}
/* our latest porfolio section  */
.div-padding{
  padding: 12px;
  background-color: white;
  border-radius: 14px;
}
/* .tag-3::placeholder{
  opacity: 1;
} */
@media screen and (max-width:576px) {
  .common-heading{
    font-size: 42px;
    text-align: center;
  }
  .work-grid{
    padding: 28px;
  }
  .div-padding{
    padding: 16px;
  }
  /* .tag-3::placeholder{
    top: 5%;
  } */
}